.newB{
    float: left;
    margin-right: 7px;
    margin-top: 5px;
    margin-bottom: 15px;
    width: 280px;
    height: 411px;
}
.newB img:hover{opacity: 0.5;border: 1px solid greenyellow; }

.newB .new-text>p{
    font-size: 13px;
    text-align: center;
    font-family: arial;
}
