*{margin: 0;padding: 0;}
a{text-decoration: none;}
ul li{list-style: none;}

#simple-header{
    height: 66px;
    margin: 0 0 20px;
    border-bottom: 2px solid #222;
}
#simple-header .header-inner{
    width: 990px;
    height: 100%;
    margin: 0 auto;
}
#simple-header .logo{
    float: left;
    line-height: 66px;
    font-size: 0;
}
#simple-header .logo img{
    vertical-align: middle;
}
#simple-header .header-tool{
    float: right;
    line-height: 66px;
    font-size: 12px;
    width: 510px;
//  background: red;
}
#simple-header .header-tool .user ,#simple-header .header-tool .userOut{
    display: none;
}
#simple-header .header-tool li{
    display: inline-block;
    padding: 0 10px;
    line-height: 28px;
//  vertical-align: middle;
}  
#simple-header .header-tool li a{
    color: #666;
    margin-right: 10px;
}
#simple-header .header-tool li a:hover{ 
    text-decoration: underline;
    color: #ccc;
 }
.main-page{
    margin-right: auto;
    margin-left: auto;
    width: 1150px;
}
.main-page .main-cover{
    float: left;
    margin: 107px 0;
    width: 575px;
}
.main-page .main-cover .cover-content{
    padding: 50px 0;
    width: 100%;
    height: 240px;
    border-right: 1px solid #dfdfdf;
}
.main-page .main-cover .cover-content img{
    display: block;
    margin: 0 auto;
    margin-top: 50px;
    width: 252px;
    height: 190px;
}
.main-page .content{
    float: left;
    margin-top: 107px;
    padding-left: 85px;
}
.main-page .content .login-ul{
    margin-bottom: 20px;
    width: 270px;
    height: 335px;
//  border: 1px solid #ccc;
    border-radius: 10px;
}
.main-page .content .desktop-login h2{
    font-size: 20px;
    float: left;
}
.main-page .content .desktop-login span{
    float: right;
    color: #b9b9b9;
    cursor: pointer;
}
.main-page .content .desktop-login .relative{
    margin-bottom: 20px;
}
.main-page .content .desktop-login .relative input{
    width: 268px;
    height: 43px;
    border: 1px solid #dbdbdb;
    color: #9a9a9a;
    color: rgba(0,0,0,.5);
    text-indent: 10px;
    font-size: 16px;
    line-height: 1.2;
    margin-top: 20px;
}
.main-page .content .desktop-login .login-btn{
    display: block;
    width: 100%;
    height: 46px;
    background-color: #ff1901;
    color: #fff;
    text-align: center;
    letter-spacing: 10px;
    font-size: 20px;
    line-height: 46px;
    cursor: pointer;
    margin-bottom: 20px;
}
.main-page .content .desktop-login .other-opts{
    color: #b9b9b9;
    font-size: 14px;
    width: 270px;
    height: 24px;
}
.main-page .content .desktop-login .three-login {
    margin-top: 20px;
    float: left;
}
.main-page .content .desktop-login .three-login a{
    display: table-cell;
    width: 67px;
    background-size: 100% 100%;
}
.main-page .content .desktop-login .three-login .weixin{
    background-image: url("/images/spritelogin.png");
    background-size: 595px 298px;
    background-position: -527px -70px;
    display: block;
    margin: 0 auto;
    width: 30px;
    height: 30px;
}
.main-page .content .desktop-login .three-login .weibo{
    background-image: url("/images/spritelogin.png");
    background-size: 595px 298px;
    background-position: -565px -70px;
    display: block;
    margin: 0 auto;
    width: 30px;
    height: 30px;
}
.main-page .content .desktop-login .three-login .zhi{
    background-position: -451px -70px;
    background-image: url("/images/spritelogin.png");
    background-size: 595px 298px;
    display: block;
    margin: 0 auto;
    width: 30px;
    height: 30px;
  
}
